.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 10rem;
    height: 3rem;
}
.bars{
    width: 1.5rem;
    height: 1.5rem;
    filter: brightness(0) saturate(100%) invert(97%) sepia(97%) saturate(13%) hue-rotate(212deg) brightness(103%) contrast(105%);
}
.headerMenu{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: #fff;
}
.headerMenu>li{
    cursor: pointer;
}
.headerMenu>li:hover{
    color: var(--orange);
}
@media screen and (max-width: 768px) {
     .header{
        background: var(--appColor);
        position: fixed;
        z-index: 10;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        padding: 10px;
        margin: 0;
        box-sizing: border-box;
        align-items: center;
     }
    .ham-close {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 32px;
        cursor: pointer; 
    }
    .header-menu{
        flex-direction: column;
        background-color: var(--appColor);
        padding: 2rem;      
    }
    .headerMenu.active{
        position: fixed;
        right: 0;
        z-index: 99;
        flex-direction: column;
        background: #363d42;
        padding: 0;
        width: 100%;
        top: 0;
        margin: 0;
        bottom: 0;
        text-align: center;
        padding-top: 50px;
        font-size: 22px;
    }
}